:root {
  /* Sets the header height */
  --header-height: 65px;
}

.header {
  position: fixed;
  background-color: blue;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: var(--header-height);
  box-shadow: 0 5px 5px #888;
  z-index: 1;
}

/* Header Link Styles */
.Link {
  color: white;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  text-decoration: none;
  transition: color 0.2s ease-out;
}
.Link:hover {
  color: #CCC;
  transition: color 0.2s ease-out;
}
.Link:active {
  color: #AAA;
  transition: color 0.2s ease-out;
}

.main {
  position: relative;
  top: var(--header-height);
}
